*                           @kafbat/maintainers


# BACKEND
/pom.xml                    @kafbat/backend

/kafka-ui-contract/         @kafbat/backend

/kafka-ui-api/              @kafbat/backend

# FRONTEND
/kafka-ui-react-app/        @kafbat/frontend

# TESTS
/kafka-ui-e2e-checks/       @kafbat/qa

# INFRA
/.github/workflows/         @kafbat/devops
