*                           @kafbat/maintainers


# BACKEND
/pom.xml                    @kafbat/backend

/contract/         @kafbat/backend

/api/              @kafbat/backend

# FRONTEND
/frontend/        @kafbat/frontend

# TESTS
/e2e-tests/       @kafbat/qa

# INFRA
/.github/workflows/         @kafbat/devops
