version: 2
updates:

- package-ecosystem: gradle
  directory: "/"
  schedule:
    interval: weekly
    time: "10:00"
    timezone: Europe/London
  open-pull-requests-limit: 10
  labels:
    - "type/dependencies"
    - "scope/backend"
  ignore:
    # Disable dependabot pull requests for Netty
    # In general, our Netty references are temporary overrides, usually applied to address transitive Spring vulnerabilities, and should be configured with caution
    # In general, having conflicting Netty versions in the classpath is not recommended
    - dependency-name: "io.netty:*"
  groups:
    spring-boot-dependencies:
      patterns:
        - "org.springframework.boot:*"
        - "io.spring.dependency-management"
      # We will handle major upgrades manually
      update-types:
        - "patch"
        - "minor"
    other-dependencies:
      exclude-patterns:
        - "org.springframework.boot:*"
        - "io.spring.dependency-management"
      patterns:
        - "*"
      update-types:
        - "patch"
        - "minor"

- package-ecosystem: docker
  directory: "/api"
  schedule:
    interval: weekly
    time: "10:00"
    timezone: Europe/London
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: "azul/zulu-openjdk-alpine"
    update-types: ["version-update:semver-major"]
  labels:
    - "type/dependencies"
    - "scope/backend"

- package-ecosystem: npm
  directory: "/frontend"
  schedule:
    interval: weekly
    time: "10:00"
    timezone: Europe/London
  open-pull-requests-limit: 10
  versioning-strategy: increase-if-necessary
  labels:
    - "type/dependencies"
    - "scope/frontend"
  groups:
    pnpm-dependencies:
      patterns:
        - "*"
      update-types:
        - "patch"
        - "minor"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
    time: "10:00"
    timezone: Europe/London
  open-pull-requests-limit: 10
  labels:
    - "type/dependencies"
    - "scope/infra"
