version: 2
updates:

- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: weekly
    time: "10:00"
    timezone: Europe/London
  reviewers:
    - "kafbat/backend"
  open-pull-requests-limit: 10
  labels:
    - "type/dependencies"
    - "scope/backend"

- package-ecosystem: docker
  directory: "/"
  schedule:
    interval: weekly
    time: "10:00"
    timezone: Europe/London
  reviewers:
    - "kafbat/backend"
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: "*"
    # Limit dependabot pull requests to minor Java upgrades
    update-types: ["version-update:semver-major"]
  labels:
    - "type/dependencies"
    - "scope/backend"

- package-ecosystem: npm
  directory: "/frontend"
  schedule:
    interval: weekly
    time: "10:00"
    timezone: Europe/London
  reviewers:
    - "kafbat/frontend"
  open-pull-requests-limit: 10
  versioning-strategy: increase-if-necessary
  labels:
    - "type/dependencies"
    - "scope/frontend"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
    time: "10:00"
    timezone: Europe/London
  reviewers:
    - "kafbat/devops"
  open-pull-requests-limit: 10
  labels:
    - "type/dependencies"
    - "scope/infra"
