HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/api/app/node
/api/bin
/contract/bin
/serde-api/bin

### SDKMAN ###
.sdkmanrc

.DS_Store
*.code-workspace


*.tar.gz
*.tgz

/docker/*.override.yaml
out/
node_modules/
.gradle
/e2e-tests/allure-results/
out/
node_modules/
.gradle
@rerun.txt
test-results
frontend/test-report.xml
