name: "Infra: Image Testing: Deploy"

on:
  workflow_dispatch:
  pull_request:
    types: ['labeled']

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  build:
    if: ${{ github.event.label.name == 'status/image_testing' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # https://github.com/actions/checkout/releases/tag/v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          token: ${{ github.token }}
      - name: get branch name
        id: extract_branch
        run: |
          tag='${{ github.event.pull_request.number }}'
          echo "tag=${tag}" >> $GITHUB_OUTPUT
      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # https://github.com/actions/setup-java/releases/tag/v4
        with:
          java-version-file: '.java-version'
          distribution: 'zulu'
          cache: 'gradle'
      - name: Build
        id: build
        run: |
          ./mvnw -B -ntp versions:set -DnewVersion=$GITHUB_SHA
          ./mvnw -B -V -ntp clean package -Pprod -DskipTests
          export VERSION=$(./mvnw -q -Dexec.executable=echo -Dexec.args='${project.version}' --non-recursive exec:exec)
          echo "version=${VERSION}" >> $GITHUB_OUTPUT
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # https://github.com/docker/setup-qemu-action/releases/tag/v3.7.0
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # https://github.com/docker/setup-buildx-action/releases/tag/v3.11.1
      - name: Cache Docker layers
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # https://github.com/actions/cache/releases/tag/v4.3.0
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708  # https://github.com/aws-actions/configure-aws-credentials/releases/tag/v4
        with:
          aws-region: us-east-1
          role-to-assume: ${{ secrets.AWS_ROLE }}
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@d63b14614fe5d7fc5e5e52c523dea4e876816cc4 # https://github.com/aws-actions/amazon-ecr-login/releases/tag/v2.0.1
        with:
          registry-type: 'public'
      - name: Build and push
        id: docker_build_and_push
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # https://github.com/docker/build-push-action/releases/tag/v6.18.0
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: api
          push: true
          tags: ${{ vars.ECR_REGISTRY }}/${{ github.repository }}:${{ steps.extract_branch.outputs.tag }}
          build-args: |
            JAR_FILE=build/libs/api-${{ steps.build.outputs.version }}.jar
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
      - name: make comment with private deployment link
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # infered from @v4
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            Image published at ${{ vars.ECR_REGISTRY }}/${{ github.repository }}:${{ steps.extract_branch.outputs.tag }}
    outputs:
      tag: ${{ steps.extract_branch.outputs.tag }}
