name: "Docker build"

on:
  workflow_call:
    inputs:
      sha:
        required: true
        type: string
      version:
        required: true
        type: string

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1e31de5234b9f8995739874a8ce0492dc87873e2 # https://github.com/actions/checkout/releases/tag/v4.0.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          token: ${{ github.token }}

      - name: Download artifacts
        uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # https://github.com/actions/download-artifact/releases/tag/v4
        with:
          name: kafbat-ui-${{ inputs.version }}
          path: api/build/libs

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # https://github.com/docker/setup-qemu-action/releases/tag/v3.7.0

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # https://github.com/docker/setup-buildx-action/releases/tag/v3.11.1

      - name: Cache Docker layers
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # https://github.com/actions/cache/releases/tag/v4.3.0
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ inputs.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

        # Build multi-platform images and loading them at the same time is not possible with default container runtime : https://github.com/docker/buildx/issues/59
        # So let's use containerd instead as it supports this option
        # Also containerd is one of the option to allow preserving provenance attestations:
        # https://docs.docker.com/build/attestations/#creating-attestations
      - name: Setup docker with containerd
        uses: docker/setup-docker-action@efe9e3891a4f7307e689f2100b33a155b900a608 # https://github.com/docker/setup-docker-action/releases/tag/v4.6.0
        with:
          daemon-config: |
            {
                "features": {
                "containerd-snapshotter": true
                }
            }

      - name: Build docker image
        id: docker_build
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # https://github.com/docker/build-push-action/releases/tag/v6.18.0
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: api
          platforms: linux/amd64,linux/arm64
          provenance: mode=min
          sbom: true
          push: false
          load: true
          tags: |
            kafka-ui:temp
          build-args: |
            JAR_FILE=build/libs/api-${{ inputs.version }}.jar
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

      - name: Dump docker image
        run: |
          docker image save kafka-ui:temp > /tmp/image.tar

      - name: Upload docker image
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # https://github.com/actions/upload-artifact/releases/tag/v4
        with:
          name: image
          path: /tmp/image.tar
          retention-days: 1
