name: "Docker build"

on:
  workflow_call:
    inputs:
      sha:
        required: true
        type: string
      version:
        required: true
        type: string

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # https://github.com/actions/checkout/releases/tag/v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          token: ${{ github.token }}

      - name: Download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # https://github.com/actions/download-artifact/releases/tag/v4
        with:
          name: kafbat-ui-${{ inputs.version }}
          path: api/build/libs

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # https://github.com/docker/setup-qemu-action/releases/tag/v3.7.0

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # https://github.com/docker/setup-buildx-action/releases/tag/v3.11.1

      - name: Cache Docker layers
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # https://github.com/actions/cache/releases/tag/v4.3.0
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ inputs.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

        # Build multi-platform images and loading them at the same time is not possible with default container runtime : https://github.com/docker/buildx/issues/59
        # So let's use containerd instead as it supports this option
        # Also containerd is one of the option to allow preserving provenance attestations:
        # https://docs.docker.com/build/attestations/#creating-attestations
      - name: Setup docker with containerd
        uses: docker/setup-docker-action@e43656e248c0bd0647d3f5c195d116aacf6fcaf4 # https://github.com/docker/setup-docker-action/releases/tag/v4.6.0
        with:
          daemon-config: |
            {
                "features": {
                "containerd-snapshotter": true
                }
            }

      - name: Build docker image
        id: docker_build
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # https://github.com/docker/build-push-action/releases/tag/v6.18.0
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: api
          platforms: linux/amd64,linux/arm64
          provenance: mode=min
          sbom: true
          push: false
          load: true
          tags: |
            kafka-ui:temp
          build-args: |
            JAR_FILE=build/libs/api-${{ inputs.version }}.jar
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

      - name: Dump docker image
        run: |
          docker image save kafka-ui:temp > /tmp/image.tar

      - name: Upload docker image
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # https://github.com/actions/upload-artifact/releases/tag/v4
        with:
          name: image
          path: /tmp/image.tar
          retention-days: 1
