name: "Main: Build & deploy"
on:
  workflow_dispatch:

  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  jar-build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    outputs:
      version: ${{steps.build.outputs.version}}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # https://github.com/actions/checkout/releases/tag/v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          token: ${{ github.token }}

      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # https://github.com/actions/setup-java/releases/tag/v4
        with:
          java-version-file: '.java-version'
          distribution: 'zulu'
          cache: 'gradle'

      - name: Build jar
        id: build
        run: |
          version=${GITHUB_SHA::7}
          echo "version=$version" >> $GITHUB_OUTPUT
          ./gradlew clean build \
          -x test \
          -Pinclude-frontend=true \
          -Pversion=$version

      - name: Upload jar
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # https://github.com/actions/upload-artifact/releases/tag/v4
        with:
          name: kafbat-ui-${{ steps.build.outputs.version }}
          path: api/build/libs/api-${{ steps.build.outputs.version }}.jar
          retention-days: 1

  docker-build:
    needs: jar-build
    permissions:
      contents: read
    uses: ./.github/workflows/docker_build.yml
    secrets: inherit
    with:
      sha: ${{ github.sha }}
      version: ${{ needs.jar-build.outputs.version }}

  docker-deploy:
    needs: [ jar-build, docker-build ]
    permissions:
      packages: write
      id-token: write # Required to authenticate with OIDC for AWS
    uses: ./.github/workflows/docker_publish.yml
    secrets: inherit
    with:
      version: ${{ needs.jar-build.outputs.version }}
      generic_tag: main
