name: "Infra: Markdown: URL linter"
on:
  pull_request:
    types:
      - opened
      - labeled
      - reopened
      - synchronize
    paths:
      - '**.md'

permissions:
  contents: read

jobs:
  lint-md:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # https://github.com/actions/checkout/releases/tag/v6.0.2
        with:
          token: ${{ github.token }}
      - name: Check URLs in files
        uses: urlstechie/urlchecker-action@b643b43e2ac605e1475331c7b67247d242b7dce4 # https://github.com/urlstechie/urlchecker-action/releases/tag/0.0.34
        with:
          exclude_patterns: localhost,127.0.,192.168.
          exclude_urls: https://api.server,https://graph.microsoft.com/User.Read,https://dev-a63ggcut.auth0.com/,http://main-schema-registry:8081,http://schema-registry:8081,http://another-yet-schema-registry:8081,http://another-schema-registry:8081
          print_all: false
          file_types: .md
