name: "Infra: Release: Serde API"

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string
        description: Serde API version to release. Must not be a SNAPSHOT.
        default: 1.x.0

permissions:
  contents: read

jobs:
  release-serde-api:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1e31de5234b9f8995739874a8ce0492dc87873e2 # https://github.com/actions/checkout/releases/tag/v4.0.0
        with:
          fetch-depth: 0
          token: ${{ github.token }}

      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Set up JDK
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # https://github.com/actions/setup-java/releases/tag/v4
        with:
          java-version-file: '.java-version'
          distribution: 'zulu'
          cache: 'gradle'

      - name: Publish to Maven Central
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
        run: |
          ./gradlew :serde-api:publish \
          :serde-api:closeAndReleaseSonatypeStagingRepository \
          -Prelease=true \
          -Pversion=${{ inputs.version }}
