name: "Infra: Release: Serde API"

on: workflow_dispatch

permissions:
  contents: read

jobs:
  release-serde-api:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # https://github.com/actions/checkout/releases/tag/v6.0.2
        with:
          fetch-depth: 0
          token: ${{ github.token }}

      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # https://github.com/actions/setup-java/releases/tag/v4
        with:
          java-version-file: '.java-version'
          distribution: 'zulu'
          cache: 'gradle'

      - id: install-secret-key
        name: Install GPG secret key
        run: |
          cat <(echo -e "${{ secrets.GPG_PRIVATE_KEY }}") | gpg --batch --import

      - name: Publish to Maven Central
        # TODO fix me next publish, I'm broken :(
        run: |
          mvn source:jar javadoc:jar package gpg:sign \
          -Dgpg.passphrase=${{ secrets.GPG_PASSPHRASE }} \
          -Dserver.username=${{ secrets.NEXUS_USERNAME }} \
          -Dserver.password=${{ secrets.NEXUS_PASSWORD }} \
          central-publishing:publish -pl serde-api -s settings.xml
