name: "Infra: Release"
on:
  release:
    types: [ published ]

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    outputs:
      version: ${{steps.build.outputs.version}}
    steps:
      - uses: actions/checkout@1e31de5234b9f8995739874a8ce0492dc87873e2 # https://github.com/actions/checkout/releases/tag/v4.0.0
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
          token: ${{ github.token }}

      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Set up JDK
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # https://github.com/actions/setup-java/releases/tag/v4
        with:
          java-version-file: '.java-version'
          distribution: 'zulu'
          cache: 'gradle'

      - name: Build jar
        id: build
        run: |
          version=${{ github.event.release.tag_name }}
          echo "version=$version" >> $GITHUB_OUTPUT
          ./gradlew clean build \
          -x test \
          -Pinclude-frontend=true \
          -Pversion=$version

      - name: Upload files to a GitHub release
        uses: svenstaro/upload-release-action@04733e069f2d7f7f0b4aebc4fbdbce8613b03ccd # https://github.com/svenstaro/upload-release-action/releases/tag/2.9.0
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: api/build/libs/api-${{ steps.build.outputs.version }}.jar
          tag: ${{ github.event.release.tag_name }}

      - name: Archive JAR
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # https://github.com/actions/upload-artifact/releases/tag/v4
        with:
          name: kafbat-ui-${{ steps.build.outputs.version }}
          path: api/build/libs/api-${{ steps.build.outputs.version }}.jar

  docker-build:
    needs: release
    permissions:
      contents: read
    uses: ./.github/workflows/docker_build.yml
    secrets: inherit
    with:
      sha: ${{ github.sha }}
      version: ${{ needs.release.outputs.version }}

  docker-deploy:
    needs: [release, docker-build]
    permissions:
      packages: write
      id-token: write # Required to authenticate with OIDC for AWS
    uses: ./.github/workflows/docker_publish.yml
    secrets: inherit
    with:
      version: ${{ needs.release.outputs.version }}
      generic_tag: latest

  charts:
    runs-on: ubuntu-latest
    needs: release
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@ff45666b9427631e3450c54a1bcbee4d9ff4d7c0 # https://github.com/peter-evans/repository-dispatch/releases/tag/v3
        with:
          token: ${{ secrets.CHARTS_ACTIONS_TOKEN }}
          repository: kafbat/helm-charts
          event-type: prepare-helm-release
          client-payload: '{"appversion": "${{ needs.release.outputs.version }}"}'
