name: "Infra: Release"
on:
  release:
    types: [ published ]

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    outputs:
      version: ${{steps.build.outputs.version}}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # https://github.com/actions/checkout/releases/tag/v6.0.2
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
          token: ${{ github.token }}

      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # https://github.com/actions/setup-java/releases/tag/v4
        with:
          java-version-file: '.java-version'
          distribution: 'zulu'
          cache: 'gradle'

      - name: Build jar
        id: build
        run: |
          version=${{ github.event.release.tag_name }}
          echo "version=$version" >> $GITHUB_OUTPUT
          ./gradlew clean build \
          -x test \
          -Pinclude-frontend=true \
          -Pversion=$version

      - name: Upload files to a GitHub release
        uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # https://github.com/svenstaro/upload-release-action/releases/tag/2.11.3
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: api/build/libs/api-${{ steps.build.outputs.version }}.jar
          tag: ${{ github.event.release.tag_name }}

      - name: Archive JAR
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # https://github.com/actions/upload-artifact/releases/tag/v4
        with:
          name: kafbat-ui-${{ steps.build.outputs.version }}
          path: api/build/libs/api-${{ steps.build.outputs.version }}.jar

  docker-build:
    needs: release
    permissions:
      contents: read
    uses: ./.github/workflows/docker_build.yml
    secrets: inherit
    with:
      sha: ${{ github.sha }}
      version: ${{ needs.release.outputs.version }}

  docker-deploy:
    needs: [release, docker-build]
    permissions:
      packages: write
      id-token: write # Required to authenticate with OIDC for AWS
    uses: ./.github/workflows/docker_publish.yml
    secrets: inherit
    with:
      version: ${{ needs.release.outputs.version }}
      generic_tag: latest

  charts:
    runs-on: ubuntu-latest
    needs: release
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # https://github.com/peter-evans/repository-dispatch/releases/tag/v4.0.1
        with:
          token: ${{ secrets.CHARTS_ACTIONS_TOKEN }}
          repository: kafbat/helm-charts
          event-type: prepare-helm-release
          client-payload: '{"appversion": "${{ needs.release.outputs.version }}"}'
