name: "Infra: Workflow linter"
on:
  pull_request:
    types: ["opened", "reopened", "synchronize"]
    paths:
      - ".github/workflows/**"

permissions:
  contents: read

jobs:
  lint-workflows:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # infered from @v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
          token: ${{ github.token }}

      - name: Install yamllint
        run: sudo apt install -y yamllint

      - name: Validate workflow yaml files
        run: yamllint .github/workflows/. -d relaxed -f github --no-warnings
