name: "Infra: Workflow linter"
on:
  pull_request:
    types: ["opened", "reopened", "synchronize"]
    paths:
      - ".github/workflows/**"

permissions:
  contents: read

jobs:
  lint-workflows:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1e31de5234b9f8995739874a8ce0492dc87873e2 # https://github.com/actions/checkout/releases/tag/v4.0.0
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
          token: ${{ github.token }}

      - name: Install yamllint
        run: sudo apt install -y yamllint

      - name: Validate workflow yaml files
        run: yamllint .github/workflows/. -d relaxed -f github --no-warnings
